hl {color:red;background:yellow;}
.resultitem {font-size:200%;}

span.selectedtoc {
	  height: 0;
	  position: absolute;
	  margin-left: -10px;
	  margin-top: 3px;
	  width: 0;
	  vertical-align: middle;
	  border: 6px solid transparent;
	  border-left-color: #333;
}

a.submenu:after{display:block;content:" ";
float:right;width:0;height:0;border-color:transparent;
border-style:solid;border-width:5px 0 5px 5px;
border-left-color:#cccccc;margin-top:5px;
margin-right:-30px;}
.hit {
	float:right;color:DarkOrange;font-weight:bold;font-family: Courier
}

